# Created by venv; see https://docs.python.org/3/library/venv.html
bin
lib
**/__pycache__/

# for now -- unsure what of the data is public/private
data/CCOT

# Dont want to upload all the parsed data without being zipped/private
data/WORK_OUTPUT

# including the data backup
BACKUPS

# this might be [confidential]
src/01_CLEAN_FILES/CCOT_files_and_scores.csv

